
@tailwind base;
@tailwind components;
@tailwind utilities;

#root, html, body {
    height:100vh;
    background-color: #ffffff;
 
}

body {
    margin:0;
    background-color:whitesmoke;
    
}

* {
    box-sizing:border-box;
}

html {
    scroll-behavior:smooth;
}